p {
  margin: 10px;
}

.header {
  text-align: center;
}

.form {
  width: 300px;
  margin: 0 auto;
}

.list {
  margin: 16px;
}

.tweet {
  margin: 5px;
  padding: 5px;
  border: 2px solid grey;
  border-radius: 5px;
}
